/*轮播图*/
.main{
	background-color: #F1F1F1;
	border-top:#f1f1f1 solid 1px;
	border-bottom:#f1f1f1 solid 1px;
	position: relative;
	z-index: 100;
}
.swiper-container {
	width: 100%;
	height:auto;
	margin: 20px auto;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-container.container-fluid{
	padding: 0;
}
.swiper-pagination-bullet{
	height:0.16rem;
	width:0.16rem;
}
.swiper-container a{
	width:100%;
}
.swiper-container a img{
	width:100%;
	height:auto;
}
/*end-轮播图*/

/*产品列表 */
.prodcut-warpper{
	margin-bottom:0.2rem;
	padding-top:0.4rem;
	background-color: #fff;
	overflow: hidden;
}
.product-lists{
	background-color: #fff;
}
.product-list-item{

}
.product-link{
	display: block;
	width:1.525rem;
	height:1.525rem;
	margin: 0 auto;
	background-color: #f2f2f2;
	border-radius: 50%;
}
.product-link>img{
	position: relative;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}


/*end--产品列表 */

/*新闻列表*/
.news-wrapper{
	background-color: #fff;
}
.news-lists{
	padding: 0.15rem 0;
}
.news-lists .media{
	border-bottom: #f2f2f2 solid 0.01rem;
	padding-bottom: 0.2rem;
}
.news-lists .media h3{
	font-size: 0.40rem;
	line-height:0.6rem;
}
.news-lists .media h4{
	font-size: 0.22rem;
}
.news-lists .media p{
	font-size: 0.24rem;
	line-height:0.4rem;
	height: 0.8rem;
	overflow: hidden;
}
.news-lists .media-right{
	width:0.2rem;
	height:1.2rem;
}
.news-lists .media-right a{
	display: inline-block;
	width:2.6rem;
}
.news-lists .media-right img{
	width:2.6rem;
	height:2rem;
}





